#title {
 background-color: #ff4c68;
}

#features {
 background-color:white;
}

h1 {
 font-family: 'Montserrat', sans-serif;
 font-weight:900;
 font-size: 3.5rem;
 line-height: 1.5;
 color: white;
 padding: 75px 0px 50px 0px;
}

h3 {
 font-family: 'Montserrat', sans-serif;
 font-weight: bold;
 font-size: 1.5rem;
}

p {
 font-family: 'Montserrat', sans-serif;
 color: #8f8f8f;
}

.feature-list {
 text-align:center;
 margin: 0 auto;
}

.container-fluid {
 padding: 3% 15%;
}

.rotated {
 transform: rotate(15deg);
 width:375px;
 padding-top:100px;
 padding-bottom:100px;
 margin: 0 50px;
}

.icon {
 padding: 100px 0px 20px 0px;
 color:#ef8172; 
 font-size:3rem;
}

.icon:hover {
 color:#ff4c68;
}

@media only screen and (max-width:992px) {
 .rotated {
  transform:rotate(0deg);
 }
 #title {
  text-align: center;
 }

}

.navbar {
 padding-bottom: 3rem;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
}

.nav-link {
 font-family: "Ubuntu";
 font-size: 1.3rem;
}

.nav-item {
 padding: 0 18px;
}



