/* Body */
body {
 text-align:center;
}

/* Typefaces */

h1, h2, h3, h4, h5, h6, p {
 font-family: 'Montserrat', sans-serif;
}

.title-text {
 font-weight:600;
 font-size: 4rem;
 line-height: 1.5;
 padding: 75px 0px 50px 0px;
}

/* Colors */

h1 {
 color: white;
}

p {
 color: #8f8f8f;
}

/* Default Buttons */

.btn {
 margin-right: 10px;
}

/* Section Colors */

.white {
 background-color:#fff;
}

.colored {
 background-color:#ff4c68;
 color:#fff;
}

#testimonials.colored {
 background-color:#ef8172
}

#press.colored {
 background-color:#ef8172
}

/* Navbar */

.navbar {
 padding-left:12px;
}

.navbar-brand {
 font-family: "Ubuntu";
 font-size: 2.5rem;
}

.nav-link {
 font-family: "Ubuntu";
 font-size: 1.3rem;
}

.nav-item {
 padding: 0 18px;
}

/* Title Box */

.rotated {
 transform: rotate(10deg);
 width:400px;
 position:absolute;
}

.dog-image {
 text-align: left;
 padding: 100px 0 0 6%;
}

#title {
 padding: 3% 10% 10% 10%;
 position: relative;
 z-index:-2;
 text-align:left;
}

@media only screen and (max-width:992px) {

 #title {
  text-align: center;
 }
 .rotated {
  transform:rotate(0deg);
  position:relative;
  margin:0 auto;
  padding-top:30px;
  width:80%
 }
 .dog-image {
  text-align: center;
  padding:0;
 }

 }

 #title h1{
  font-size:300%;
  width:100%;
  margin: 0 auto;
 }

/* Features */

.feature-list {
 margin: 0 auto;
}

.h3-features {
 font-size: 1.5rem;
 font-weight: bold;
}

.icon {
 padding: 20px 0px 20px 0px;
 color:#ef8172; 
 font-size:3.5rem;
}

.icon:hover {
 color:#ff4c68;
}

.p-features {
 font-weight: 600;
}

#features {
 padding-top:100px;
 padding-bottom:100px;
 position:relative;
}

/* Testimonials */
.carousel-item {
 padding: 7% 15%;
}

.h2-carousel {
 font-weight:900;
 line-height:2;
 font-size:2.5em;
}

.testimonial-image {
 width:15%;
 border-radius:100%;
 margin:20px;
}

#testimonials {
 padding: 7% 20%;
 text-align: center;
 position:relative;
}

@media only screen and (max-width:992px) {
 #testimonials {
  padding: 7% 5%;
 }
}

/* Press */
.press-logo {
 width: 20%;
 padding:0 20px;
}

#press {
 padding-bottom:100px;
}

/* Pricing */
.card-header {
 background-color:rgb(218, 218, 218);
}

.h2-cards {
 font-weight:bold;
 font-size: 3em;
}

.pricing-column {
 padding: 3% 2%;
}

#pricing {
 text-align: center;
 padding: 50px 20px;
}

/* Call to Action */

#cta {
 padding: 100px 300px;
}

#cta h1{
 width:auto;
}

@media only screen and (max-width:992px) {
 #cta {
  padding:100px 0;
 }
}

/* Footer */

#footer {
 padding: 100px 0;
 line-height: 3;
 text-align: center;
}

.footer-icon {
 margin: 0 10px;
}

@media only screen and (max-width:992px) {
 #cta {
  padding:100px 0;
 }
}